// Color
$color-white:white;
$color-bee:#F3E0BE;

$color-yellow:#fff800;

$color-violet: #6B5B95;

$color-red-1:#ff7756;
$color-red-2:#ff1361;

$color-black-1:#00101d;
$color-black-2:#231557;
$color-black-3:#44107a;
$color-black-4:#15162c;

$color-black-5:#0c192c;